/* Header */
header{
	a{
		color: #999;
		padding: 0 10px 10px 10px;
		font-weight: 500;
		&:hover{
			color: #38312b;
		}
	}
	.header_cart{
			background-color: #42454a;
			color: #fff;
			padding: 5px 0;
			ul{
				float: right;
				li{
					display: inline-block;
					vertical-align: middle;
					line-height: 4px;
					&:last-child{
						border-left: 1px solid #cccccc;
					}
					a{
						font-size: 0.8em;
						padding: 0 10px 10px 10px;
						color: #fff;
						&:hover{
							color: #ccc;
						}
					}
				}
			}
	}
	.logo{
		float: left;
		width: 30%;
		img{
			width: 70%;
			max-width: 110px;
		}
	}
	.header_nav{
		float: right;
		width: 69%;
		.header_search_form{
			float: left;
			border: 1px solid #38312b;
			border-radius: 5px;
			input, button{
				border: 0;
				border-radius: 5px;
				padding: 0px 5px;
				background-color: #fff;
				line-height: 25px;
			}
			button{
				&:hover{
					cursor: pointer;
				}
			}
		}

	}
	.nav_main{
		padding-bottom: 10px;
		text-align: right;
		li{
				display: inline-block;
				vertical-align: middle;
				a{
					padding: 0 10px 10px 10px;
					&:hover{
					border-bottom: 2px solid #d6cab5;
				}
				}
			}
			@media(max-width: 720px){
				li{
					display: block;
					text-align: center;
					a{
						box-shadow: 0 1px 9px rgba(0,0,0,0.1);
						display: block;
						padding: 5px 0;
						&:hover{
							background-color: rgba(162, 158, 158,0.1);
							border-bottom: none;
						}
					}
				}
					overflow: hidden;
					transition: all 0.5s linear;
					max-height: 0px;
			}
		}
		.nav_btn_mobile{
			display: none;
			background-color: #42454a;
			color: #fff;
			padding: 10px 0;
				text-transform: uppercase;
			&:hover{
				color: #fff;
				cursor: pointer;
				background-color: #838383;
			}
			@media(max-width: 720px){
				display: block;
				text-align: center;
			}
		}
}