/* Variables @ */
/* Mixins */
.shadow {
  box-shadow: 0px 1px 1px 0px #e6e6e6; }

/* Main */
html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background: #f6f6f6;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font: 16px/1.41 'Open Sans', Arial, sans-serif;
  color: #42454a; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #42454a; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: auto;
  box-sizing: content-box; }

.container {
  width: 80%;
  margin: 0 auto; }

.wrapper {
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px; }

.row:before, .row:after {
  content: "";
  display: table; }
.row:after {
  clear: both; }

/* Animations */
.show {
  max-height: 1000px !important;
  opacity: 1 !important; }

main {
  float: right;
  width: 69%; }
  main .product {
    display: inline-block;
    border: 1px solid red;
    padding: 5px; }

/* endof Main */
/* Variables @ */
/* Mixins */
.shadow {
  box-shadow: 0px 1px 1px 0px #e6e6e6; }

/* Header */
header a {
  padding: 0 10px 10px 10px;
  font-weight: 500; }
  header a:hover {
    color: #38312b; }
header .header_log_in {
  background-color: #42454a;
  color: #fff;
  padding: 5px 0; }
  header .header_log_in ul {
    float: right; }
    header .header_log_in ul li {
      display: inline-block;
      vertical-align: middle;
      line-height: 4px; }
      header .header_log_in ul li:last-child {
        border-left: 1px solid #cccccc; }
      header .header_log_in ul li a {
        font-size: 0.8em;
        padding: 0 10px 10px 10px;
        color: #fff; }
        header .header_log_in ul li a:hover {
          color: #ccc; }
header .header_top {
  position: relative;
  margin: 8px 0; }
header .inline-block, header .logo, header .header_form_search, header .header_cart {
  display: inline-block;
  vertical-align: middle; }
header .logo {
  width: 25%; }
  header .logo img {
    max-width: 230px; }
  @media (max-width: 725px) {
    header .logo {
      width: 40%; } }
header .search, header .header_form_search input, header .header_form_search button {
  box-sizing: border-box;
  font-size: 1.1em;
  border: 0;
  border-radius: 4px;
  background-color: #fff;
  line-height: 1.4px;
  outline: none; }
header .header_form_search {
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-left: 5%;
  border: 1px solid #a7abb1;
  border-radius: 4px;
  width: 44%;
  background-color: #fff; }
  header .header_form_search form {
    width: 100%; }
    header .header_form_search form:before, header .header_form_search form:after {
      content: "";
      display: table; }
    header .header_form_search form:after {
      clear: both; }
  header .header_form_search input {
    float: left;
    width: 100%;
    margin-right: -40px;
    padding: 10px 40px 10px 15px; }
  header .header_form_search button {
    float: right;
    width: 40px;
    padding: 10px 15px 10px 0;
    height: 40px;
    text-align: right;
    color: #a7abb1; }
    header .header_form_search button:hover {
      cursor: pointer; }
  @media (max-width: 725px) {
    header .header_form_search {
      display: block;
      width: 100%;
      margin: 0; } }
header .header_cart {
  font-size: 1.1em;
  line-height: 1.4px;
  width: 25%;
  text-align: right; }
  header .header_cart a {
    display: block;
    padding: 10px;
    color: #5a5e65; }
  @media (max-width: 725px) {
    header .header_cart {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-100%);
      width: 50%; } }
header .nav_main {
  text-align: right;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: linear-gradient(to inverse-side(top), #ffffff, #f4f4f4); }
  header .nav_main li {
    display: inline-block;
    border-left: 1px solid #dddfe1; }
    header .nav_main li a {
      display: inherit;
      position: relative;
      padding: 15px; }
      header .nav_main li a:after {
        content: "";
        position: absolute;
        left: 0;
        right: 100%;
        bottom: 0;
        background-color: #eb6e7e;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      header .nav_main li a.active:after, header .nav_main li a:hover:after {
        right: 0; }
  @media (max-width: 725px) {
    header .nav_main {
      padding: 0;
      overflow: hidden;
      transition: all 0.5s linear;
      max-height: 0px; }
      header .nav_main li {
        display: block;
        text-align: center;
        border-left: none; }
        header .nav_main li a {
          border-bottom: 2px solid #dddfe1; }
          header .nav_main li a.active, header .nav_main li a:hover {
            box-shadow: inset 0 6px 20px 2px rgba(0, 0, 0, 0.1);
            border-bottom: 2px solid #f8f8f9; }
          header .nav_main li a:after {
            content: none; } }
header .nav_btn_mobile {
  display: none;
  background-color: #42454a;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase; }
  header .nav_btn_mobile:hover {
    color: #fff;
    cursor: pointer;
    background-color: #5a5e65; }
  @media (max-width: 725px) {
    header .nav_btn_mobile {
      display: block;
      text-align: center; } }

/* Variables @ */
/* Mixins */
.shadow {
  box-shadow: 0px 1px 1px 0px #e6e6e6; }

/* Aside */
.aside_nav {
  float: left;
  width: 29%;
  margin-top: 50px;
  padding: 18px 20px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-radial-gradient(cover, #ececec, #ffffff);
  background-image: -moz-radial-gradient(cover, #ececec, #ffffff);
  background-image: -o-radial-gradient(cover, #ececec, #ffffff);
  background-image: radial-gradient(cover, #ececec, #ffffff); }
  .aside_nav a {
    transition: all 0.3s; }
    .aside_nav a.active {
      margin-left: 1em; }
    .aside_nav a:hover {
      margin-left: 1em; }

/* endof Aside */
/* Variables @ */
/* Mixins */
.shadow {
  box-shadow: 0px 1px 1px 0px #e6e6e6; }

/* Login */
.login input, .login textarea, .login select, .login label, .singup input, .singup textarea, .singup select, .singup label {
  font-family: inherit;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.login, .singup {
  margin: 50px auto;
  padding: 18px 20px;
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  background-image: -webkit-radial-gradient(cover, #ececec, #ffffff);
  background-image: -moz-radial-gradient(cover, #ececec, #ffffff);
  background-image: -o-radial-gradient(cover, #ececec, #ffffff);
  background-image: radial-gradient(cover, #ececec, #ffffff);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5); }
  .login > h2, .singup > h2 {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4); }
    .login > h2 a:hover, .singup > h2 a:hover {
      text-decoration: underline;
      color: #eb6e7e; }
    .login > h2 a.active, .singup > h2 a.active {
      color: #eb6e7e; }
  .login input, .singup input {
    display: block;
    width: 100%;
    height: 37px;
    margin: 10px 0 20px;
    padding: 0 10px;
    background-color: #fff !important;
    border: 1px solid #15243b;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2); }
    .login input:focus, .singup input:focus {
      outline: 0;
      background-color: #fff;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6); }
  .login .login-submit, .singup .login-submit {
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #294779;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    background: #adcbfa;
    background-clip: padding-box;
    border: 1px solid #284473;
    border-bottom-color: #223b66;
    border-radius: 4px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #d0e1fe, #96b8ed);
    background-image: -moz-linear-gradient(top, #d0e1fe, #96b8ed);
    background-image: -o-linear-gradient(top, #d0e1fe, #96b8ed);
    background-image: linear-gradient(to inverse-side(top), #d0e1fe, #96b8ed);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15); }
    .login .login-submit:active, .singup .login-submit:active {
      background: #a4c2f3;
      -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1); }
  .login .login-help, .singup .login-help {
    text-align: center; }
    .login .login-help > a, .singup .login-help > a {
      font-size: 14px;
      color: #d4deef;
      text-decoration: none;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.4); }
      .login .login-help > a:hover, .singup .login-help > a:hover {
        text-decoration: underline; }
  .login .message, .singup .message {
    text-align: center;
    color: red; }

/* Variables @ */
/* Mixins */
.shadow {
  box-shadow: 0px 1px 1px 0px #e6e6e6; }

/* Page Terms and Contitions */
.terms ol {
  list-style: none;
  counter-reset: item; }
  .terms ol li {
    display: block; }
    .terms ol li:before {
      float: left;
      counter-increment: item;
      content: counters(item,".") ". ";
      margin-right: 10px;
      font-weight: bold; }
.terms .content {
  overflow: hidden;
  transition: all 0.5s linear;
  max-height: 0px; }

/* endof Terms and Contitions */
/* Variables @ */
/* Mixins */
.shadow {
  box-shadow: 0px 1px 1px 0px #e6e6e6; }

/* Footer */
footer {
  margin-top: -100px;
  background-color: #fff; }
  footer .nav-bottom {
    float: left;
    width: 50%; }
  footer .author {
    background-color: #42454a;
    text-align: center;
    color: #fff; }
    footer .author p {
      margin: 0;
      padding: 1em 0;
      font-size: 0.8em; }
    footer .author a {
      color: orange; }
      footer .author a:hover {
        color: #ccc; }

/* endof Footer */

/*# sourceMappingURL=style.css.map */
