@import '_variables.scss';

/* Main */

html, body{
	width: 100%;
	height: 100%;
	font-size: 100%;
	background: $bg-main;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font: 16px/1.41 'Open Sans', Arial, sans-serif;
	color: $font-color;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: $font-color;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	width: 100%;
	height: auto;
	box-sizing: content-box;
}
.container{
	@include box-sizing(border-box);
	width: 90%;
	margin: 0 auto;
	min-width: 200px;
	position: relative;
	@media(max-width: 860px){
		width: 100%;
		padding: 0 1em;
	}
}
.wrapper{
	position: relative;
	width: 100%;
	min-height: 100%;
	padding-bottom: 100px;
}
.row{
	@include clearfix;
}
/* Animations */
.show{
	max-height: 1000px !important ;
	opacity: 1 !important;
}
.btn{
	display: block;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	color: $font-color;
	cursor: pointer;
	padding: 0.7em;
	background: $btn-grad-to;
	background-clip: padding-box;
	@include linear-gradient(top, $btn-grad-from, $btn-grad-to);
	transition: all 0.3s;
	&:hover{
		@include box-shadow(inset 0 0 20px 1px rgba(black, .2));
	}
}

main{
	float: right;
	width: 73%;
	margin-top: 50px;
	border-radius: 5px;
	@include box-shadow(inset 0 1px rgba(white, .3), inset 0 0 1px 1px rgba(white, .1), 0 2px 10px rgba(black, .5));
	@include box-sizing(border-box);
	@include radial-gradient(cover, $bg-gradient, $bg-nav);
	@media(max-width: 860px){
		display: block;
		width: 100%;
	}
}
/* endof Main */

