@import '_variables.scss';

/* Header */
header{
	a{
		padding: 0 10px 10px 10px;
		font-weight: 500;
		&:hover{
			color: #38312b;
		}
	}
	.header_log_in{
			background-color: $bg-top-bottom;
			color: #fff;
			padding: 5px 0;
			ul{
				float: right;
				li{
					display: inline-block;
					vertical-align: middle;
					line-height: 4px;
					&:last-child{
						border-left: 1px solid #cccccc;
					}
					a{
						font-size: 0.8em;
						padding: 0 10px 10px 10px;
						color: #fff;
						&:hover{
							color: #ccc;
						}
					}
				}
			}
	}
	.header_top{
		position: relative;
		margin: 8px 0;
	}
	.inline-block{
		display: inline-block;
		vertical-align: middle;
	}
	.logo{
		@extend .inline-block;
		width: 25%;
		img{
			max-width: 230px;
		}
		@media(max-width: 745px){
			width: 40%;
		}
	}
		.search{
				box-sizing: border-box;
				font-size: 1.1em;
				border: 0;
				border-radius: 4px;
				background-color: $bg-nav;
				line-height: 1.4px;
				outline: none;
		}
		.header_form_search{
			@extend .inline-block;
			@include box-shadow(inset 0 1px rgba(white, .3), inset 0 0 1px 1px rgba(white, .1), 0 2px 10px rgba(black, .5));

			margin-left: 5%;
			border: 1px solid lighten($font-color, 40%);
			border-radius: 4px;
			width: 44%;
			background-color: $bg-nav;
			form{
				width: 100%;
				@include clearfix;
			}
			input{
				@extend .search;
				float: left;
				width: 100%;
				margin-right: -40px;
				padding: 10px 40px 10px 15px;
			}
			button{
				@extend .search;
				float: right;
				width: 40px;
				padding: 10px 15px 10px 0;
				height: 40px;
				text-align: right;
				color:lighten($font-color, 40%);
				&:hover{
					cursor: pointer;
				}
			}
			@media(max-width: 745px){
				display: block;
				width: 100%;
				margin: 0;
			}
		}
		.header_cart{
			@extend .inline-block;
			font-size: 1.1em;
			line-height: 1.4px;
			width: 25%;
			text-align: right;
			a{
				display: block;
				padding: 10px;
				color: lighten($font-color, 10%);
			}
			@media(max-width: 745px){
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-100%);
				width: 50%;
			}
		}
		.header_nav{
			position: relative;
		}
	.nav_main{
		text-align: right;
		background-color: $bg-nav;
		border-radius: 5px;
		@include box-shadow(inset 0 1px rgba(white, .3), inset 0 0 1px 1px rgba(white, .1), 0 2px 10px rgba(black, .5));
		@include linear-gradient(top, $bg-nav, $bg-gradient);
		li{
			display: inline-block;
			border-left: 1px solid lighten($font-color, 60%);
				a{
					display: inherit;
					position: relative;
					padding: 15px;
					&:after{
						content: "";
						position: absolute;
						left: 0;
						right: 100%;
						bottom: 0;
						background-color: rgb(235, 110, 126);
						height: 4px;
						-webkit-transition-property: right;
						transition-property: right;
						-webkit-transition-duration: 0.3s;
						transition-duration: 0.3s;
						-webkit-transition-timing-function: ease-out;
						transition-timing-function: ease-out;
					}
					&.active:after, &:hover:after{
						right: 0;
					}
				}
			}
			@media(max-width: 745px){
				position: absolute;
				width: 100%;
				padding: 0;
				li{
					display: block;
					text-align: center;
					border-left: none;
					a{
						border-bottom: 2px solid lighten($font-color, 60%);
						&.active, &:hover{
							box-shadow: inset 0 6px 20px 2px rgba(0,0,0, 0.1);
							border-bottom: 2px solid lighten($font-color, 70%);
						}
						&:after{
						content: none;
						}
					}
				}
					overflow: hidden;
					transition: all 0.5s linear;
					max-height: 0px;
			}
		}
		.nav_btn_mobile{
			display: none;
			background-color: $bg-top-bottom;
			color: #fff;
			padding: 10px 0;
				text-transform: uppercase;
			&:hover{
				color: #fff;
				cursor: pointer;
				background-color: lighten($bg-top-bottom, 10%);
			}
			@media(max-width: 745px){
				display: block;
				text-align: center;
			}
		}
}