@import '_variables.scss';
/* Login */
.login,.singup,.contacts,.remindPassword{
	input, textarea, select, label {
		font-family: inherit;
		font-size: 1em;
		@include box-sizing(border-box);
	}
}
.login,.singup,.contacts,.remindPassword{
  margin: 50px auto;
  padding: 18px 20px;
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  @include radial-gradient(cover, $bg-gradient, $bg-nav);
  @include box-shadow(inset 0 1px rgba(white, .3), inset 0 0 1px 1px rgba(white, .1), 0 2px 10px rgba(black, .5));

  > h2 {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px rgba(black, .4);
    a{
    	&:hover{
    		text-decoration: underline;
    		color: rgb(235, 110, 126);
    	}
    	&.active{
  		color: rgb(235, 110, 126);
  		}
    }
  }
  input, textarea {
  display: block;
  width: 100%;
  height: 37px;
  margin: 5px 0 10px;
  padding: 0 10px;
  background-color: #fff !important;
  border: 1px solid #15243b;
  border-radius: 4px;
  @include box-shadow(inset 0 1px 2px rgba(black, .3), 0 1px rgba(white, .2));
    &:focus {
      outline: 0;
      background-color: #fff;
      @include box-shadow(inset 0 1px 2px rgba(black, .3), 0 0 4px 1px rgba(white, .6));
    }
	}
    textarea{
    height: 100px;
  }
	.login-submit {
  display: block;
  width: 100%;
  height: 37px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #294779;
  text-align: center;
  text-shadow: 0 1px rgba(white, .3);
  background: #adcbfa;
  background-clip: padding-box;
  border: 1px solid #284473;
  border-bottom-color: #223b66;
  border-radius: 4px;
  cursor: pointer;
  @include linear-gradient(top, #d0e1fe, #96b8ed);
  @include box-shadow(inset 0 1px rgba(white, .5), inset 0 0 7px rgba(white, .4), 0 1px 1px rgba(black, .15));

  &:active {
    background: #a4c2f3;
    @include box-shadow(inset 0 1px 5px rgba(black, .4), 0 1px rgba(white, .1));
  }
}
	.login-help {
  text-align: center;
  > a {
    font-size: 14px;
    color: #d4deef;
    text-decoration: none;
    text-shadow: 0 -1px rgba(black, .4);
    &:hover { text-decoration: underline; }
  }
}
	.message{
		text-align: center;
		color: red;
	}
  .error{
    color: red;
    font-size: 0.7em;
    padding-bottom: 10px;
    display: block;
    margin-top: -5px;
  }
  label:after{
    display: inline;
    content: '*';
    color: red;
  }
}
