@import '_variables.scss';

/* Main */

html, body{
	width: 100%;
	height: 100%;
	font-size: 100%;
	background: $bg-main;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font: 16px/1.41 'Open Sans', Arial, sans-serif;
	color: $font-color;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: $font-color;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	width: 100%;
	height: auto;
	box-sizing: content-box;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	padding-bottom: 100px;
}
.row{
	@include clearfix;
}
/* Animations */
.show{
	max-height: 1000px !important ;
	opacity: 1 !important;
}

main{
	float: right;
	width: 69%;
	.product{
		display: inline-block;
		border: 1px solid red;
		padding: 5px;
	}
}
/* endof Main */

