@import '_variables.scss';

/* Styles for pagination*/

#pagination{
	margin: 1em 0;
	text-align: center;
	ul.pagination{
	display: inline-block;
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	font:1em 'Tahoma';
	list-style-type:none;
		li{
			float:left;
			margin:0px;
			padding:0px;
			margin-left:5px;
			&:first-child{
				margin-left:0px;
			}
			a{
				display:block;
				text-decoration:none;
				color: #fff;
				background:$btn-grad-to;
				@include linear-gradient(top,$btn-grad-from,$btn-grad-to);
				border-radius:3px;
				-moz-border-radius:3px;
				-webkit-border-radius:3px;
				padding:6px 9px 6px 9px;
				&:hover, &.current{
					color:$font-color;
					background:$btn-grad-to;
				}
			}
		}
	}
}








/* endof Styles for pagination*/