@import '_variables.scss';

/* Search page */
.search{
	position: relative;
	.message{
		text-align: center;
		color: red;
	}
	.total_products{
		padding: 0 1em;
		font-weight: bold;
		span{
			color: red;
			font-size: 1.2em;
		}
	}
}

/* endof Search page */