@import '_variables.scss';
/* Page book.php */

.single_book{
	display: flex;
	flex-wrap: wrap;
	margin: 1em;
	@include box-sizing(border-box);
	.single_book_img{
		flex: 1 30%;
		max-width: 350px;
		min-width: 150px;
		margin: 0 auto;

	}
	.single_book_info{
		flex: 2 66%;
		margin: 0 2%;
		display: flex;
		flex-direction: column;
		h2{
			margin: 0;
		}
		p{
			margin: 0.8em 0 0;
		}
		.description{
			font-size: 0.8em;
			margin-bottom: auto;
		}
		.price{
			font-size: 1.1em;
			color: red;
			font-weight: bold;
			margin-bottom: 1em;
		}
	}
}




/* endof Page book.php */