@import '_variables.scss';
/* Page Terms and Contitions */
.terms{
	padding: 15px;
	h2{
		margin-top: 30px;
		text-align: center;
	}
	> p{
		padding-left: 40px;
	}
	ol{
		list-style: none;
		counter-reset: item;
		li{
			display: block;
			&:before {
				float: left;
				counter-increment: item;
				content: counters(item,".") ". ";
				margin-right: 10px;
				font-weight: bold;
			}
		}
	}
	.slideToggle{
		text-decoration: underline;
		color: blue;
		&:hover{
			color: rgb(235, 110, 126);
		}
		i.hidden{
			display: none;
		}
	}
	.content{
		overflow: hidden;
		transition: all 0.5s linear;
		max-height: 0px;
	}
}
/* endof Terms and Contitions */